.footer{
    min-height: 10vh;
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        margin-bottom: 1rem;
    }
}
    .social-icon{
        margin: 0rem 1rem;
    }