.hero{
    min-height: 100vh;
    background-image: url(../immagini/sfondo.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.hero-container{
  max-width: 25vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }
  
    .logo{
      width: 25vw;
      filter: drop-shadow(2px 2px 5px black);
    }
    .intro{
      color: white;
      text-align: center;
      width: 100%;
      margin: 2rem 0rem;
      font-size: 1.5rem;
    }
       
    .input{
        border:none;
        font-size:1.5rem;
        height:2rem;
        border-radius: 1rem;
        outline:none;
        padding:1rem;
        transition: all 0.5s ease-out;
        width:100%;
        z-index:2;
        background: rgba(0, 0, 0, 0.2);
        border-bottom: 1px white solid;
        transform: translateY(2rem);
        color: white;
    }

//INPUT ACTIVE
.input-active{
  background-color: white;
  transform: translateY(-60vh);
  border:none;
  font-size:1.5rem;
  height:2rem;
  border-radius: 1rem;
  outline:none;
  padding:1.5rem 1rem;
  transition: all 0.5s ease-out;
  width:100%;
  z-index:2;
  width: 600px;
}

    .search-container{
      position: absolute;
      top: 5%;
      min-height: 90vh;
      min-width: 1400px;
      background-color: #4e76f4;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: example 1s ease;
    }
    @keyframes example {
      from{opacity: 0;}
      to{opacity: 1;}
    }

//SEARCH ACTIVE
.search-active{
  border: solid 1px gray;
  width: 800px;
  transition: all 0.5s;
}

    .search-area{
      position: absolute;
      top: 5%;
      background-color: rgb(255, 255, 255);
      height: 60vh;
      width: 620px;
      color: black;
      z-index: 1;
      border-radius: 1rem;
      padding: 5rem 2r;
      transition: all 0.5s;
      animation: example2 0.5s forwards;
    }

    @keyframes example2 {
      from{width: 620px;}
      to{width: 820px;}
    }






    .hide{display: none; }

    .close-icon{
      position: absolute;
      top: 1%;
      right: 1%;
      cursor: pointer;
      color: white;
      z-index: 3;
    }







  @media screen and (max-width: 768px){
    
    .hero-container{
      max-width: 60vw;
      }
      .logo{
        width: 40vw;
      }
  
  }