*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./nav";
@import "./hero";
@import "./category";
@import "./footer";

@media screen and (max-width: 768px){
    html{font-size: 52%;}
}

@media screen and (max-width: 768px){
    html{font-size: 45%;}
}